# Quiz Part 2

In [46]:
# import sys
# import os
# import django

# sys.path.append('..')

# os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'university.settings')
# os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

# django.setup()

# print("Django environment loaded successfully!")
# import sys
# import os
# import django

# sys.path.append('..')

# os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'university.settings')
# os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

# django.setup()

# print("Django environment loaded successfully!")

import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

from school.models import *
from datetime import date, datetime
from django.db.models import Q, F, Count, Value
from django.db.models.functions import Concat
import json

***

1. หาหมวดหมู่ที่ในคำอธิบายประกอบด้วยชื่อหมวดหมู่

*hint: F()*
```
ID: 1, Name: Science, Description: Courses related to natural and physical sciences.
ID: 7, Name: Health, Description: Courses related to medicine, wellness, and public health.
```

In [6]:
# code
allcat = CourseCategory.objects.filter(description__icontains = F("name"))
for i in allcat:
    print(f"ID: {i.id}, Name: {i.name}, Description: {i.description}")

ID: 1, Name: Science, Description: Courses related to natural and physical sciences.
ID: 7, Name: Health, Description: Courses related to medicine, wellness, and public health.

2. แสดงหน่วยกิตของทุกวิชา ที่เอาไปคูณ 2 (ต้องใช้ annotate())
```
ID: 1, Title: Introduction to Physics, Credits: 8
ID: 2, Title: Calculus I, Credits: 8
ID: 3, Title: World History: Ancient Civilizations, Credits: 6
ID: 4, Title: Python Programming Fundamentals, Credits: 6
ID: 6, Title: Principles of Macroeconomics, Credits: 6
ID: 7, Title: Advanced Chemistry, Credits: 8
ID: 8, Title: Linear Algebra, Credits: 8
ID: 9, Title: Literary Analysis, Credits: 6
ID: 10, Title: Web Development with Django, Credits: 8
ID: 11, Title: Digital Photography, Credits: 6
ID: 13, Title: Human Anatomy, Credits: 8
ID: 14, Title: Data Structures and Algorithms, Credits: 8
ID: 15, Title: Introduction to Philosophy, Credits: 6
ID: 12, Title: Introduction tO Marketing, Credits: 6
ID: 5, Title: Introduction To Drawing, Credits: 4
```

In [11]:
# code
allCourse = Course.objects.annotate(time2 = F("credits") * 2)
for i in allCourse:
    print(f"ID: {i.id}, Title: {i.title}, Credits: {i.time2}")

ID: 1, Title: Introduction to Physics, Credits: 8
ID: 2, Title: Calculus I, Credits: 8
ID: 3, Title: World History: Ancient Civilizations, Credits: 6
ID: 4, Title: Python Programming Fundamentals, Credits: 6
ID: 5, Title: Introduction To Drawing, Credits: 4
ID: 6, Title: Principles of Macroeconomics, Credits: 6
ID: 7, Title: Advanced Chemistry, Credits: 8
ID: 8, Title: Linear Algebra, Credits: 8
ID: 9, Title: Literary Analysis, Credits: 6
ID: 10, Title: Web Development with Django, Credits: 8
ID: 11, Title: Digital Photography, Credits: 6
ID: 12, Title: Introduction tO Marketing, Credits: 6
ID: 13, Title: Human Anatomy, Credits: 8
ID: 14, Title: Data Structures and Algorithms, Credits: 8
ID: 15, Title: Introduction to Philosophy, Credits: 6

3. แสดงรายชื่ออาจารย์ (Teacher) ทุกคน พร้อมกับ "จำนวนคอร์สที่แต่ละคนสอน" ใน Field ที่ชื่อว่า num_courses และเรียงลำดับจำนวนจากน้อยไปมาก

*hint: ใช้ Count()*
```
ID: 10, Name: Karen Hernandez, Number of Courses: 0
ID: 3, Name: David Brown, Number of Courses: 0
ID: 9, Name: Robert Martinez, Number of Courses: 1
ID: 8, Name: Linda Rodriguez, Number of Courses: 1
ID: 1, Name: Michael Johnson, Number of Courses: 2
ID: 7, Name: Daniel Davis, Number of Courses: 2
ID: 6, Name: Jessica Miller, Number of Courses: 2
ID: 2, Name: Emily Williams, Number of Courses: 2
ID: 4, Name: Sarah Jones, Number of Courses: 2
ID: 5, Name: Chris Garcia, Number of Courses: 3
```

In [17]:
# code
allTeacher = Teacher.objects.annotate(num_courses = Count("course"))
for i in allTeacher:
    print(f"ID: {i.id}, Name: {i.first_name} {i.last_name}, Number of Courses: {i.num_courses}")

ID: 4, Name: Sarah Jones, Number of Courses: 2
ID: 10, Name: Karen Hernandez, Number of Courses: 0
ID: 6, Name: Jessica Miller, Number of Courses: 2
ID: 2, Name: Emily Williams, Number of Courses: 2
ID: 9, Name: Robert Martinez, Number of Courses: 1
ID: 7, Name: Daniel Davis, Number of Courses: 2
ID: 3, Name: David Brown, Number of Courses: 0
ID: 1, Name: Michael Johnson, Number of Courses: 2
ID: 5, Name: Chris Garcia, Number of Courses: 3
ID: 8, Name: Linda Rodriguez, Number of Courses: 1

4. แสดงรายชื่อนักเรียน (Student) ทุกคน พร้อมกับ "ผลรวมหน่วยกิตของคอร์สทั้งหมดที่ลงทะเบียน" ใน Field ที่ชื่อว่า total_credits และเรียงผลรวมจากมากไปน้อย

*hint: ใช้ Sum()*
```
ID: 1, Name: Alice Smith, Total Credits: 12
ID: 15, Name: Oscar Anderson, Total Credits: 12
ID: 2, Name: Bob Johnson, Total Credits: 12
ID: 4, Name: Diana Brown, Total Credits: 11
ID: 9, Name: Ian Rodriguez, Total Credits: 10
ID: 3, Name: Charlie Williams, Total Credits: 9
ID: 12, Name: Laura Lopez, Total Credits: 8
ID: 7, Name: George Miller, Total Credits: 8
ID: 10, Name: Jane Martinez, Total Credits: 7
ID: 13, Name: Mason Gonzalez, Total Credits: 7
ID: 8, Name: Hannah Davis, Total Credits: 6
ID: 6, Name: Fiona Garcia, Total Credits: 6
ID: 14, Name: Nora Wilson, Total Credits: 6
ID: 5, Name: Ethan Jones, Total Credits: 5
ID: 11, Name: Kevin Hernandez, Total Credits: 4
```

In [41]:
# code
allStudent = Student.objects.annotate(total_credits = Sum("courses__credits")).order_by("-total_credits")
for i in allStudent:
    print(f"ID: {i.id}, Name: {i.first_name} {i.last_name}, Total Credits: {i.total_credits}")

ID: 1, Name: Alice Smith, Total Credits: 12
ID: 15, Name: Oscar Anderson, Total Credits: 12
ID: 2, Name: Bob Johnson, Total Credits: 12
ID: 4, Name: Diana Brown, Total Credits: 11
ID: 9, Name: Ian Rodriguez, Total Credits: 10
ID: 3, Name: Charlie Williams, Total Credits: 9
ID: 12, Name: Laura Lopez, Total Credits: 8
ID: 7, Name: George Miller, Total Credits: 8
ID: 10, Name: Jane Martinez, Total Credits: 7
ID: 13, Name: Mason Gonzalez, Total Credits: 7
ID: 8, Name: Hannah Davis, Total Credits: 6
ID: 6, Name: Fiona Garcia, Total Credits: 6
ID: 14, Name: Nora Wilson, Total Credits: 6
ID: 5, Name: Ethan Jones, Total Credits: 5
ID: 11, Name: Kevin Hernandez, Total Credits: 4

5. แสดงข้อมูลนักเรียนทุกคน โดยให้มี Field ใหม่ชื่อ full_name ซึ่งเกิดจากการนำ first_name มาต่อกับ last_name โดยคั่นด้วยเว้นวรรค และแสดงผลตามตัวอย่าง

*หมายเหตุ: จะต้องใช้ annotate() และ values() เท่านั้น ห้าม loop และสร้าง dict เอง*

```
[
    {
        "id": 1,
        "full_name": "Alice Smith"
    },
    {
        "id": 2,
        "full_name": "Bob Johnson"
    },
    {
        "id": 3,
        "full_name": "Charlie Williams"
    },
    {
        "id": 4,
        "full_name": "Diana Brown"
    },
    {
        "id": 5,
        "full_name": "Ethan Jones"
    },
    {
        "id": 6,
        "full_name": "Fiona Garcia"
    },
    {
        "id": 7,
        "full_name": "George Miller"
    },
    {
        "id": 8,
        "full_name": "Hannah Davis"
    },
    {
        "id": 9,
        "full_name": "Ian Rodriguez"
    },
    {
        "id": 10,
        "full_name": "Jane Martinez"
    },
    {
        "id": 11,
        "full_name": "Kevin Hernandez"
    },
    {
        "id": 12,
        "full_name": "Laura Lopez"
    },
    {
        "id": 13,
        "full_name": "Mason Gonzalez"
    },
    {
        "id": 14,
        "full_name": "Nora Wilson"
    },
    {
        "id": 15,
        "full_name": "Oscar Anderson"
    }
]
```

In [55]:
# code
allStudent = Student.objects.annotate(full_name = Concat('first_name', Value(' '), 'last_name')).values("id", "full_name")
print(json.dumps(list(allStudent), indent=4))

[
    {
        "id": 1,
        "full_name": "Alice Smith"
    },
    {
        "id": 2,
        "full_name": "Bob Johnson"
    },
    {
        "id": 3,
        "full_name": "Charlie Williams"
    },
    {
        "id": 4,
        "full_name": "Diana Brown"
    },
    {
        "id": 5,
        "full_name": "Ethan Jones"
    },
    {
        "id": 6,
        "full_name": "Fiona Garcia"
    },
    {
        "id": 7,
        "full_name": "George Miller"
    },
    {
        "id": 8,
        "full_name": "Hannah Davis"
    },
    {
        "id": 9,
        "full_name": "Ian Rodriguez"
    },
    {
        "id": 10,
        "full_name": "Jane Martinez"
    },
    {
        "id": 11,
        "full_name": "Kevin Hernandez"
    },
    {
        "id": 12,
        "full_name": "Laura Lopez"
    },
    {
        "id": 13,
        "full_name": "Mason Gonzalez"
    },
    {
        "id": 14,
        "full_name": "Nora Wilson"
    },
    {
        "id": 15,
        "full_name": "Oscar Anderson"
    }
]

6. แสดงข้อมูลคอร์สทั้งหมด โดยให้มี Field เพิ่ม 2 field คือ `title_upper` (ชื่อคอร์สตัวพิมพ์ใหญ่ทั้งหมด) และ `title_lower` (ชื่อคอร์สตัวพิมพ์เล็กทั้งหมด)

*hint: ใช้ Upper, Lower*
```
ID: 1, Title: Introduction to Physics, Title Upper: INTRODUCTION TO PHYSICS, Title Lower: introduction to physics
ID: 2, Title: Calculus I, Title Upper: CALCULUS I, Title Lower: calculus i
ID: 3, Title: World History: Ancient Civilizations, Title Upper: WORLD HISTORY: ANCIENT CIVILIZATIONS, Title Lower: world history: ancient civilizations
ID: 4, Title: Python Programming Fundamentals, Title Upper: PYTHON PROGRAMMING FUNDAMENTALS, Title Lower: python programming fundamentals
ID: 6, Title: Principles of Macroeconomics, Title Upper: PRINCIPLES OF MACROECONOMICS, Title Lower: principles of macroeconomics
ID: 7, Title: Advanced Chemistry, Title Upper: ADVANCED CHEMISTRY, Title Lower: advanced chemistry
ID: 8, Title: Linear Algebra, Title Upper: LINEAR ALGEBRA, Title Lower: linear algebra
ID: 9, Title: Literary Analysis, Title Upper: LITERARY ANALYSIS, Title Lower: literary analysis
ID: 10, Title: Web Development with Django, Title Upper: WEB DEVELOPMENT WITH DJANGO, Title Lower: web development with django
ID: 11, Title: Digital Photography, Title Upper: DIGITAL PHOTOGRAPHY, Title Lower: digital photography
ID: 13, Title: Human Anatomy, Title Upper: HUMAN ANATOMY, Title Lower: human anatomy
ID: 14, Title: Data Structures and Algorithms, Title Upper: DATA STRUCTURES AND ALGORITHMS, Title Lower: data structures and algorithms
ID: 15, Title: Introduction to Philosophy, Title Upper: INTRODUCTION TO PHILOSOPHY, Title Lower: introduction to philosophy
ID: 12, Title: Introduction tO Marketing, Title Upper: INTRODUCTION TO MARKETING, Title Lower: introduction to marketing
ID: 5, Title: Introduction To Drawing, Title Upper: INTRODUCTION TO DRAWING, Title Lower: introduction to drawing
```

In [31]:
# code

7. หาจำนวนนักเรียนทั้งหมดในระบบ

*hint: aggregate + sum*

```
{'student_count': 15}
```

In [33]:
# code

8. หาจำนวนคอร์สทั้งหมดที่อยู่ในหมวดหมู่ 'Technology'
```
{'tech_courses': 5}
```

In [34]:
# code

9. หาผลรวมของหน่วยกิต (credits) ของคอร์สทั้งหมด
```
{'total_credits': 51}
```

In [ ]:
# code

10. หาค่าเฉลี่ยของหน่วยกิตของคอร์สทั้งหมด
```
{'total_credits': 3.4}
```

In [36]:
# code

11. หาวันที่ลงทะเบียนเรียนของนักเรียนคนแรกสุด (Min) และคนล่าสุด (Max)
```
{'min_date': datetime.date(2022, 1, 18),
 'max_date': datetime.date(2024, 3, 10)}
 ```

In [38]:
from school.models import Student
from django.db.models import Min, Max

students = Student.objects.aggregate(min_date=Min("enrollment_date"), max_date=Max("enrollment_date"))

students

{'min_date': datetime.date(2022, 1, 18),
 'max_date': datetime.date(2024, 3, 10)}

12. หา "รายชื่ออาจารย์" ทุกคน ที่สอนคอร์สมากกว่า 1 คอร์ส
```
ID: 4, Name: Sarah Jones, Number of Courses: 2
ID: 6, Name: Jessica Miller, Number of Courses: 2
ID: 2, Name: Emily Williams, Number of Courses: 2
ID: 7, Name: Daniel Davis, Number of Courses: 2
ID: 1, Name: Michael Johnson, Number of Courses: 2
ID: 5, Name: Chris Garcia, Number of Courses: 3
```

In [40]:
# code

13. หา "รายชื่อนักเรียน" ทุกคน ที่ลงทะเบียนเรียนรวมกันแล้วเกิน 10 หน่วยกิต
```
ID: 15, Name: Oscar Anderson, Total Credits: 12
ID: 4, Name: Diana Brown, Total Credits: 11
ID: 2, Name: Bob Johnson, Total Credits: 12
ID: 1, Name: Alice Smith, Total Credits: 12
```

In [42]:
# code

14. (Hard) หาจำนวนนักเรียนที่ลงทะเบียนวิชาในหมวดหมู่ "Technology" ในปี 2023

hint:
- กรอง Course ด้วย categories__name='Technology'
- annotate ด้วย Count('student') แต่ใส่ filter ซ้อนเข้าไปใน Count อีกที เพื่อให้นับเฉพาะนักเรียนที่มี enrollment_date__year=2023


```
ID: 4, Title: Python Programming Fundamentals, Number of Students: 3
ID: 10, Title: Web Development with Django, Number of Students: 2
ID: 14, Title: Data Structures and Algorithms, Number of Students: 2
ID: 11, Title: Digital Photography, Number of Students: 1
ID: 1, Title: Introduction to Physics, Number of Students: 2
```

In [49]:
# code

### SubQuery

15. แสดงรายชื่อนักเรียนทุกคน พร้อมกับ "ชื่อคอร์สที่มีหน่วยกิต (credits) สูงที่สุด" ที่นักเรียนคนนั้นได้ลงทะเบียนเรียน ใน Field ที่ชื่อว่า highest_credit_course โดยแสดงเฉพาะคนที่มีวิชาที่ลงเรียนมากสุดคือ "Web Development with Django"
```
ID: 4, Name: Diana Brown, Course: Web Development with Django
ID: 9, Name: Ian Rodriguez, Course: Web Development with Django
ID: 10, Name: Jane Martinez, Course: Web Development with Django
ID: 13, Name: Mason Gonzalez, Course: Web Development with Django
```

In [63]:
from school.models import Course, Student
from django.db.models import Subquery, OuterRef

students = Student.objects.annotate(
    max_course_title=
        Subquery(
            Course.objects.filter(student=OuterRef("pk")).order_by("-credits").values("title")[:1]
    )
).filter(max_course_title="Web Development with Django")

for s in students:
    print(f"ID: {s.id}, Name: {s.first_name} {s.last_name}, Course: {s.max_course_title}")

ID: 4, Name: Diana Brown, Course: Web Development with Django
ID: 9, Name: Ian Rodriguez, Course: Web Development with Django
ID: 10, Name: Jane Martinez, Course: Web Development with Django
ID: 13, Name: Mason Gonzalez, Course: Web Development with Django